.frame {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(32, 64, 93, 0.678);
    z-index: 15;
}

.messageModal {
    background-color: black;
    color: white;
    width: 20%;
    margin: 15px auto;
    margin-top: 10%;
    border-radius: 0.4em;
}

.messageModal__body {
    display: block;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
}

.messageModal__body:hover {
    color: red;
}

.messageModal__btn {
    color: #fff !important;
    text-decoration: none;
    background: #000000;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    font-size: large;
    cursor: pointer;
    margin-bottom: 10px;
}

.messageModal__btn:hover {
    background: #ff0000;
    letter-spacing: 1px;    
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

@media only screen and (max-width: 600px) {
    .messageModal {
        width: 70%;
    }
}