.header {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-size: larger;
}

.header__h3 {
    color: white;
    background-color: black;
    margin: 0px;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 44%, rgba(255, 51, 0, 1) 100%);
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    font-size: large;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 44%, rgba(255, 51, 0, 1) 100%);
}

.header__nav__Link {
    color: #fff !important;
    text-decoration: none;
    background: #000000;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.header__nav__Link:hover {
    background: #ff0000;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}