.TitleBox {
    background-color: #001f3f;
    height: 100%;
    
}

.TitleBox__info {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 84%, rgba(255, 51, 0, 1) 200%);
    color: white;
    display: flex;
    flex-direction: row;    
    border: solid black 2px;
    margin: auto;    
    margin-bottom: 0px;    
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;  
    height: 100%; 
    
}

.TitleBox__info__img {
    margin-right: 20px;
}

.TitleBox__info__text {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-items: flex-start;
    /* max-height: 600px; */   
}

.TitleBox__info__text  h3 {
    margin: 0px;
}

.TitleBox__info__text  p {
    margin: 3px;
    text-align: left;
}