.TitleBox {
    background-color: #001f3f;
    height: 100%;
}

.TitleBox__info {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 84%, rgba(255, 51, 0, 1) 200%);
    color: white;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 0px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    padding-top: 0px;
    height: 100%;
}

.TitleBox__info__img {
    margin-right: 20px;
    padding-top: 20px;
}

.TitleBox__info__text {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-items: flex-start;
    padding-top: 0px;
}

.TitleBox__info__text h3 {
    margin: 0px;
}

.TitleBox__info__text p {
    margin: 3px;
    text-align: left;
}

.TitleBox__vidBtn {
    color: #fff !important;
    text-decoration: none;
    background: #000000;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    font-size: large;
}

.TitleBox__vidBtn:hover {
    background: #ff0000;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

.TitleBox__vidContainer--watch {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000e1;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    justify-content: center;
}

.TitleBox__vidContainer--watch iframe {
    margin: 0;
    width: 700px;
    height: 500px;
    border: none;
    max-width: 90%;
    max-height: 90%;
    margin-top: 100px;
}

.TitleBox__vidContainer--watch i {
    font-size: larger;
    cursor: pointer;
    transition: all 0.4s;
    margin-top: 100px;
}

.TitleBox__vidContainer--watch i:hover {
    font-size: larger;
    color: red;
    cursor: pointer;
    transition: all 0.4s;
}

.noScroll {
    overflow: hidden;
}