.LoginWindow {
    background-color: black;
    color: white;
    width: 50%;
    margin: 15px auto;
}

.LogForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.LogForm__input {
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    margin: 5px;
    border-radius: 2px;
    width: 40%;
}

.LogForm label {
    margin: 5px;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

.LogForm label:hover {
    color: red
}

.LogForm__btn {
    color: #fff !important;
    text-decoration: none;
    background: #000000;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    font-size: large;
    cursor: pointer;
}

.LogForm__btn:hover {
    background: #ff0000;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}